$bg-color: #CF458B;

body{
  background: $bg-color;
}

@function textShadowString($offset, $color) {
  $text-shadow:();

   //loop through however many numbers ($offset)
  // and append to the text shadow list:
   @for $i from 1 through $offset{
    $val: -1.5*($i)+px $i+px 5px $color;
    $text-shadow: append($text-shadow, $val, comma);
  }

  // return the string of all of these values
  @return $text-shadow;
}


h1{
  text-align:center;
  color: $bg-color;
  text-transform:uppercase;
  font-family:'Helvetica Neue';
  font-weight:100;
  font-size:10em;
  letter-spacing:.075em;
  text-shadow: textShadowString(20, #fefefe);
  transform:skew(8deg);
}
